---
export type TCollectionCard = {
  imageSrc: string;
  collectionURL: string;
  collectionTitle: string;
};

export interface Props extends TCollectionCard {}

const { collectionURL, collectionTitle, imageSrc } = Astro.props;
---

<a class="w-min" href={collectionURL}>
  <article
    class="w-max flex flex-col gap-4 items-center self-center justify-self-center p-4 m-0 bg-[var(--secondary-color)] text-white rounded-md"
  >
    <img class="w-52 h-52 rounded-md" src={imageSrc} alt={collectionTitle} />

    <div>
      <h4 class="collectionCard__title text-center mx-auto my-4">
        {collectionTitle}
      </h4>
    </div>
  </article>
</a>
