<article class="bg-slate-800 p-4 rounded-md max-w-fit mx-auto">
  <div class="flex items-center justify-start gap-4">
    <img src="/assets/img/alejandra-pizarnik.jpg" width="100" height="100" class="rounded-full" />

    <div class="flex flex-col gap-2">
    <span class="font-medium text-xl">Alejandra Pizarnik</span>
    <span class="text-md">Árbol de Diana</span>
    </div>
  </div>

  <p class="before:content-[open-quote] after:content-[close-quote]">
    Una mirada desde la alcantarilla puede ser una visión del mundo, la
    rebelión consiste en mirar una rosa hasta pulverizarse los ojos
  </p>
</article>
