*,
::after,
::before {
  box-sizing: border-box;
}

html {
  --primary-color: #1b309a;
  --secondary-color: #952b8e;
  --terciary-color: #45d09f;
  --complement-color: #eaaf40;
  font-family: system-ui, sans-serif;
  background-color: #111;
  color: #f6f6f6;
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1400px;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 2rem auto;

  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1.5rem;
  max-width: 50ch;
  margin: 1rem auto;
}

ul {
  max-width: 50ch;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #fffa;

  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

button {
  border: none;
}

ul,
li {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
