---
import PageLayout from "src/layouts/PageLayout.astro"
---

<PageLayout title="colaborar">
  <h1>Colaborar</h1>
  <h2>Acompañame a seguir con el proyecto</h2>

  <ul>
    <li>
      <a href="https://paypal.me/genarobonavita">PayPal (internacional)</a>
    </li>
    <li><a href="/">Alias Mercado Pago: mamaquilpo</a></li>
    <li><a href="/">Cafecito (Argentina)</a></li>
  </ul>
</PageLayout>

<style>
  a {
    color: #ccc;
  }
</style>
