---
import PageLayout from "src/layouts/PageLayout.astro"
import {Icon123} from "@tabler/icons-react"
---

<PageLayout title="contacto">
  <h1>Contacto</h1>

  <p>Métodos de contacto:</p>
  <ul>
    <li><a href="mailto:pbonavita@gmail.com">pbonavita@gmail.com</a></li>
    <li><a href="https://instagram.com/bonavitapaula">@bonavitapaula</a></li>
    <li><a href="https://facebook.com/PaulaBonavita">Paula Bonavita</a></li>
    <li>
      <a href="https://youtube.com/@mujerescaminando">Mujeres caminando</a>
    </li>
    <li>
      <a href="https://youtube.com/@miscelaneas4407"><Icon123 /> Misceláneas</a>
    </li>
  </ul>
</PageLayout>

<style>
  a {
    color: #ccc;
  }
</style>
