---
import PageLayout from "src/layouts/PageLayout.astro"
import Quote from "src/components/shared/Quote.astro"
---

<PageLayout title="Paula Bonavita">
  <main>
    <h1>Paula Bonavita</h1>
    <h2>Bienvenid@ a mi lugar en el mundo 🙋</h2>

    <p>
      Jugar con los colores. Decir la mirada. A veces sobran las palabras. A
      veces faltan. Pero el color. Pero la forma. Pero la linea...
    </p>
    <p>
      La creación nunca se termina. En el lenguaje que elijas, podés reinventar
      el mundo y la realidad en la que vivís. Este es mi modo de ver y te lo
      convido. Podés inspirarte, usarlo, y si querés devolverlo. Gracias por tu
      tiempo.
    </p>
    <br><br>
    <Quote />
  </main>
</PageLayout>
