---
import Collections from "src/components/Collections/Collections.astro";
import PageLayout from "src/layouts/PageLayout.astro";
---

<PageLayout title="Paula Bonavita">
  <main>
    <h1>Paula Bonavita</h1>

    <Collections />
  </main>
</PageLayout>
