---
import staticPaths from "public/maps/staticPaths.json";
import PageLayout from "src/layouts/PageLayout.astro";
import pictures from "public/maps/pictures.json";
import type { CollectionsSlugs } from "src/types";

export function getStaticPaths() {
  return staticPaths;
}

const slug = Astro.params.slug as CollectionsSlugs;
---

<PageLayout title={slug!}>
  <h1>{slug.replaceAll("-", " ")}</h1>
  <section class="picturesContainer">
    {
      pictures[slug].map(({ imgSrc, imgDescription }) => (
        <img src={imgSrc} alt={imgDescription} />
      ))
    }
  </section>
</PageLayout>

<style>
  .picturesContainer {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 3rem 1rem;
  }

  img {
    object-fit: cover;

    border-radius: 10px;

    opacity: 0.7;
    filter: grayscale(1);

    transition: filter 0.3s ease, opacity 0.3s ease;
  }

  .picturesContainer:has(img:hover) img {
    opacity: 0.2;
  }

  img:hover {
    opacity: 1 !important;
    filter: grayscale(0);
  }
</style>
