---
import staticPaths from "public/maps/staticPaths.json";
import PageLayout from "src/layouts/PageLayout.astro";
import pictures from "public/maps/pictures.json";
import type { CollectionsSlugs } from "src/types";

export function getStaticPaths() {
  return staticPaths;
}

const slug = Astro.params.slug as CollectionsSlugs;
---

<PageLayout title={slug!}>
  <h1>{slug.replaceAll("-", " ").toUpperCase()}</h1>

  <section
    class="picturesContainer max-w-4xl w-full mx-auto flex justify-center flex-wrap gap-4"
  >
    {
      pictures[slug].map(({ imgSrc, imgDescription }) => (
        <img
          class="gallery-image rounded-md opacity-70 flex-grow"
          src={imgSrc}
          alt={imgDescription}
        />
      ))
    }
  </section>
</PageLayout>

<style>
  .gallery-image {
    filter: grayscale(1);

    transition: filter 0.3s ease, opacity 0.3s ease;
  }

  .picturesContainer:has(img:hover) img {
    opacity: 0.2;
  }

  .gallery-image:hover {
    opacity: 1 !important;
    filter: grayscale(0);
  }
</style>
