---
import Collections from "src/components/Collections/Collections.astro";
import Layout from "src/layouts/PageLayout.astro";
---

<Layout title="Arte Plástico">
  <h1>Arte plástico</h1>
  <Collections />
</Layout>
